@media (min-width: 576px) {
  .section-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .section-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .section-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .section-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .section-container {
    max-width: 1320px;
  }
}
.section-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
